@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    height: fit-content;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.img-qr-code {
    max-inline-size: 100%;
    block-size: auto;
    border-radius: 12px;
    margin: 16px;
}
h1 {
    margin: 0;
    padding: 9px 35px 18px;
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-size: 1.375rem;
    font-weight: 700;
}
p {
    margin: 0;
    padding: 0 35px 42px;
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
}
