@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.img-qr-code {
    width: 290px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
h1 {
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-size: 22px;
    font-weight: 700px;
}
p {
    margin: 0;
    padding: 0;
    padding-bottom: 43px;
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-size: 15px;
    font-weight: 400px;
}
